doctype html
html
  head
    title Graham Scanで凸法を求める
    meta(charset="UTF-8")
    script(src="js/app.js", type="text/javascript")
    link(rel="stylesheet", type="text/css", href="css/app.min.css")
  body

